<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }
    .title {
        text-align: center;
        background-color: #DC143C;
        color: white;
        padding: 20px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .pedidos, .lista{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
</style>

<title>Página Inicial</title>
<body>
<h2 class="title">Página Inicial do Consumidor</h2>
<p class="pedidos"><a href="/pedidos">Visualizar Pedidos</a></p>
<p class="lista"><a href="/restaurantes">Listar Restaurantes</a></p>
</body>