<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }
    .title {
        text-align: center;
        background-color: #DC143C;
        color: white;
        padding: 20px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
    .menu {
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: #DC143C;
        color: white;
        margin-right: 5px;
    }
    .menu:hover{
        background-color: #B3002D;
    }
    .paginaInicial{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
</style>
<title>Restaurantes</title>
<div th:switch="${restaurantes}">
    <h2 th:case="null">Ainda não há restaurantes disponíveis!</h2>
    <div th:case="*">
        <h2 class="title">Lista de Restaurantes</h2>
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Cardápio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurante : ${restaurantes}">
                <td th:text="${restaurante.nome}"></td>
                <td><a th:href="@{/cardapio/{id}(id=${restaurante.id})}" class="menu">Cardápio</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/index" class="paginaInicial">Página Inicial</a></p>
</div>